Repository sebastian-software/node-mlx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, swiftformat --quiet

.lintstagedrc:

{
  "*.{ts,js,json,md,yaml,yml}": "prettier --write",
  "*.swift": "swiftformat --quiet"
}

fix(gemma3n): use -lm variants (language model only)
  packages/node-mlx/src/index.ts
  packages/swift/Sources/NodeMLX/Version.swift
Due: prettier --write, swiftformat --quiet

perf: strip debug symbols from dylib to hide local paths
  packages/node-mlx/package.json
  packages/swift/Sources/NodeMLX/Version.swift
  packages/swift/copy-artifacts.sh
Due: prettier --write, swiftformat --quiet

fix: auto-retry swift build with clean .build on failure
  packages/node-mlx/package.json
Due: prettier --write

chore(release): v1.0.5
  packages/node-mlx/CHANGELOG.md
  packages/node-mlx/package.json
Due: prettier --write

fix(gemma3n): use asLinear for quantized embedding logits
  packages/hf2swift/src/generator/components/model.ts
  packages/swift/Sources/NodeMLX/Version.swift
  packages/swift/Sources/NodeMLXCore/Models/Gemma3nGenerated.swift
Due: prettier --write, swiftformat --quiet

chore(release): v1.0.6
  packages/node-mlx/CHANGELOG.md
  packages/node-mlx/package.json
Due: prettier --write

fix: enable repetition penalty by default (1.1)
  packages/node-mlx/src/cli.ts
  packages/node-mlx/src/index.ts
  packages/swift/Sources/NodeMLX/Version.swift
Due: prettier --write, swiftformat --quiet

fix(gemma): enforce chat template for all Gemma models
  packages/swift/Sources/NodeMLXCore/NodeMLXCore.swift
Due: swiftformat --quiet

fix(gemma3n): implement KV-sharing for shared attention layers
  packages/node-mlx/src/index.ts
  packages/swift/Sources/NodeMLXCore/KVCache.swift
  packages/swift/Sources/NodeMLXCore/Models/Gemma3nGenerated.swift
Due: prettier --write, swiftformat --quiet

ci: add model inference smoke test
  .github/workflows/ci.yml
Due: prettier --write

ci: improve smoke test with semantic validation
  .github/workflows/ci.yml
Due: prettier --write

fix(hf2swift): use cache.state for KV-sharing instead of sharedKV param
  packages/hf2swift/src/generator/components/attention.ts
  packages/hf2swift/src/generator/components/decoder-layer.ts
  packages/swift/Sources/NodeMLXCore/Models/Gemma3nGenerated.swift
Due: prettier --write, swiftformat --quiet

chore: regenerate all models with current generator
  packages/node-mlx/src/index.ts
  packages/swift/Sources/NodeMLXCore/Models/Gemma3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/LlamaGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/MistralGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/Phi3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/Qwen2Generated.swift
Due: prettier --write, swiftformat --quiet

fix(hf2swift): fix RoPE and transposition order in generator
  packages/hf2swift/src/generator/components/attention.ts
  packages/swift/Sources/NodeMLXCore/Models/Gemma3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/Gemma3nGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/LlamaGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/MistralGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/Phi3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/Qwen2Generated.swift
Due: prettier --write, swiftformat --quiet

feat(phi): add fused QKV and gate-up projection support for Phi3/Phi4
  packages/hf2swift/src/generator/components/attention.ts
  packages/hf2swift/src/generator/components/mlp.ts
  packages/hf2swift/src/generator/features.ts
  packages/hf2swift/src/generator/index.ts
  packages/node-mlx/src/index.ts
  packages/swift/Sources/NodeMLXCore/Models/Phi3Generated.swift
Due: prettier --write, swiftformat --quiet

feat(qwen3): add Qwen3 model support with Q/K norms
  docs/rfcs/001-gpt-oss-moe-support.md
  packages/hf2swift/src/generator/features.ts
  packages/node-mlx/src/index.ts
  packages/swift/Sources/NodeMLXCore/LLMModel.swift
  packages/swift/Sources/NodeMLXCore/Models/Qwen3Generated.swift
Due: prettier --write, swiftformat --quiet

docs: format RFC table
  docs/rfcs/001-gpt-oss-moe-support.md
Due: prettier --write

docs: update README with correct model list and status
  README.md
Due: prettier --write

chore(release): v2.0.0
  packages/node-mlx/CHANGELOG.md
  packages/node-mlx/package.json
Due: prettier --write

fix(cli): treat positional arg as prompt, remove Assistant: prefix in chat history
  packages/node-mlx/src/cli.ts
  packages/swift/Sources/NodeMLX/Version.swift
Due: prettier --write, swiftformat --quiet

chore(release): v2.0.1
  packages/node-mlx/CHANGELOG.md
  packages/node-mlx/package.json
Due: prettier --write

feat(moe): add GPT-OSS Mixture of Experts support
  docs/rfcs/001-gpt-oss-moe-support.md
  packages/hf2swift/src/config.ts
  packages/hf2swift/src/generator/components/attention.ts
  packages/hf2swift/src/generator/components/decoder-layer.ts
  packages/hf2swift/src/generator/components/mlp.ts
  packages/hf2swift/src/generator/components/model.ts
  packages/hf2swift/src/generator/features.ts
  packages/swift/Sources/NodeMLXCore/LLMModel.swift
  packages/swift/Sources/NodeMLXCore/MoELayers.swift
  packages/swift/Sources/NodeMLXCore/Models/GptOssGenerated.swift
Due: prettier --write, swiftformat --quiet

feat: add Ministral 3 and SmolLM 3 support
  README.md
  docs/rfcs/002-ministral-smollm-lfm2-support.md
  packages/hf2swift/src/config.ts
  packages/hf2swift/src/generator/components/attention.ts
  packages/hf2swift/src/generator/components/decoder-layer.ts
  packages/hf2swift/src/generator/features.ts
  packages/swift/Sources/NodeMLXCore/LLMModel.swift
  packages/swift/Sources/NodeMLXCore/Models/Mistral3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/SmolLM3Generated.swift
Due: prettier --write, swiftformat --quiet

refactor(hf2swift): remove manual formatting, let SwiftFormat handle it
  packages/hf2swift/src/config.ts
  packages/hf2swift/src/generator/components/attention.ts
  packages/hf2swift/src/generator/components/decoder-layer.ts
  packages/hf2swift/src/generator/components/mlp.ts
  packages/hf2swift/src/generator/components/model.ts
  packages/hf2swift/src/generator/components/rms-norm.ts
  packages/swift/Sources/NodeMLXCore/Models/Gemma3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/Gemma3nGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/GptOssGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/LlamaGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/Mistral3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/MistralGenerated.swift
  packages/swift/Sources/NodeMLXCore/Models/Phi3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/Qwen2Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/Qwen3Generated.swift
  packages/swift/Sources/NodeMLXCore/Models/SmolLM3Generated.swift
Due: prettier --write, swiftformat --quiet

fix: resolve Swift compiler warnings
  packages/swift/Sources/NodeMLXCore/Generate.swift
  packages/swift/Sources/NodeMLXCore/NodeMLXCore.swift
  packages/swift/Sources/NodeMLXCore/RoPEUtils.swift
Due: swiftformat --quiet

fix: resolve ESLint errors in hf2swift generator
  packages/hf2swift/src/config.ts
  packages/hf2swift/src/generator/components/attention.ts
  packages/hf2swift/src/generator/components/decoder-layer.ts
Due: prettier --write

chore: bump
  packages/hf2swift/src/generator/components/attention.ts
  packages/node-mlx/package.json
  packages/swift/Sources/NodeMLX/Version.swift
Due: prettier --write, swiftformat --quiet

chore: bump
  packages/node-mlx/package.json
Due: prettier --write

chore(release): v2.3.0
  packages/node-mlx/CHANGELOG.md
  packages/node-mlx/package.json
Due: prettier --write

docs: add documentation website with Fumadocs
  .github/workflows/docs.yml
  README.md
  docs/rfcs/003-documentation-website.md
  package.json
  packages/docs-website/.gitignore
  packages/docs-website/README.md
  packages/docs-website/app/app.css
  packages/docs-website/app/assets/logo.svg
  packages/docs-website/app/assets/logos/apple-silicon.svg
  packages/docs-website/app/assets/logos/gemma.svg
  packages/docs-website/app/assets/logos/llama.svg
  packages/docs-website/app/assets/logos/mistral.svg
  packages/docs-website/app/assets/logos/mlx.svg
  packages/docs-website/app/assets/logos/nodejs.svg
  packages/docs-website/app/assets/logos/openai.svg
  packages/docs-website/app/assets/logos/phi.svg
  packages/docs-website/app/assets/logos/qwen.svg
  packages/docs-website/app/components/search.tsx
  packages/docs-website/app/docs/page.tsx
  packages/docs-website/app/lib/layout.shared.tsx
  packages/docs-website/app/lib/source.ts
  packages/docs-website/app/root.tsx
  packages/docs-website/app/routes.ts
  packages/docs-website/app/routes/home.tsx
  packages/docs-website/content/docs/index.mdx
  packages/docs-website/content/docs/meta.json
  packages/docs-website/content/docs/models/index.mdx
  packages/docs-website/content/docs/models/meta.json
  packages/docs-website/package.json
  packages/docs-website/public/favicon.ico
  packages/docs-website/react-router.config.ts
  packages/docs-website/serve.json
  packages/docs-website/source.config.ts
  packages/docs-website/tsconfig.json
  packages/docs-website/typedoc.json
  packages/docs-website/vite.config.ts
  packages/swift/Sources/NodeMLX/Version.swift
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, swiftformat --quiet

fix(docs): switch to SPA mode for GitHub Pages compatibility
  packages/docs-website/app/docs/page.tsx
  packages/docs-website/package.json
  packages/docs-website/react-router.config.ts
  packages/docs-website/vite.config.ts
Due: prettier --write

fix(docs): add basename for GitHub Pages subpath routing
  packages/docs-website/react-router.config.ts
Due: prettier --write

fix(docs): disable fumadocs for SPA-only landing page
  packages/docs-website/app/docs/page.tsx
  packages/docs-website/app/lib/layout.shared.tsx
  packages/docs-website/app/lib/source.ts
  packages/docs-website/app/routes.ts
  packages/docs-website/app/routes/home.tsx
  packages/docs-website/package.json
  packages/docs-website/vite.config.ts
Due: prettier --write

fix(docs): enable fumadocs with prerendering for GitHub Pages
  .github/workflows/docs.yml
  packages/docs-website/app/docs/page.tsx
  packages/docs-website/app/lib/layout.shared.tsx
  packages/docs-website/app/lib/source.ts
  packages/docs-website/app/routes.ts
  packages/docs-website/app/routes/home.tsx
  packages/docs-website/package.json
  packages/docs-website/react-router.config.ts
  packages/docs-website/vite.config.ts
Due: prettier --write

fix(docs): copy assets into basename directory for GitHub Pages
  .github/workflows/docs.yml
  packages/docs-website/react-router.config.ts
Due: prettier --write

fix(docs): replace fantasy logos with meaningful icons
  packages/docs-website/app/assets/logos/gemma.svg
  packages/docs-website/app/assets/logos/llama.svg
  packages/docs-website/app/assets/logos/mlx.svg
  packages/docs-website/app/assets/logos/phi.svg
  packages/docs-website/app/assets/logos/qwen.svg
Due: none

feat(docs): add API reference documentation page
  packages/docs-website/content/docs/api/index.mdx
  packages/docs-website/content/docs/api/meta.json
Due: prettier --write

fix(docs): use vendor logos instead of model-specific icons
  packages/docs-website/app/assets/logos/gemma.svg
  packages/docs-website/app/assets/logos/llama.svg
  packages/docs-website/app/assets/logos/phi.svg
  packages/docs-website/app/assets/logos/qwen.svg
Due: none

perf(docs): replace Inter webfont with system-ui font stack
  packages/docs-website/app/app.css
  packages/docs-website/app/root.tsx
Due: none

fix(docs): improve benchmark bar chart layout
  packages/docs-website/app/routes/home.tsx
Due: none
